server:
  port: 8080

spring:
  application:
    name: gateway-api
  main:
    web-application-type: reactive
  mail:
    host: smtp.gmail.com
    port: 587
    username: ardagokmeny@gmail.com
    password: zhcqmvzvnwqflkhd
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: https://rawctrl-auth.azurewebsites.net
          predicates:
            - Path=/api/membership/**
          filters:
            - StripPrefix=1

        - id: product-service
          uri: https://rawctrl-product.azurewebsites.net
          predicates:
            - Path=/api/products/**
          filters:
            - StripPrefix=1
            - name: CircuitBreaker
              args:
                name: productCB
                fallbackUri: forward:/__fallback/products

        - id: order-service
          uri: https://rawctrl-order.azurewebsites.net
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=1
            - name: CircuitBreaker
              args:
                name: orderCB
                fallbackUri: forward:/__fallback/orders

        - id: cart-service
          uri: https://rawctrl-product.azurewebsites.net
          predicates:
            - Path=/api/cart/**
          filters:
            - StripPrefix=1

        - id: review-service
          uri: https://rawctrl-product.azurewebsites.net
          predicates:
            - Path=/api/reviews/**
          filters:
            - StripPrefix=1

        - id: payment-service
          uri: https://rawctrl-order.azurewebsites.net
          predicates:
            - Path=/api/payments/**
          filters:
            - StripPrefix=1

gateway:
  cors:
    allowed-origins: https://rawctrl-gateway.azurewebsites.net,http://localhost:3000,http://localhost:5173,http://localhost:5174
    allowed-methods: GET,POST,PUT,PATCH,DELETE,OPTIONS
    allowed-headers: "*"
    exposed-headers: "X-Request-Id"
    allow-credentials: true
  security:
    jwt:
      enabled: true
      secret: aa8c572cd111626310a5fe513742c4561c66957a97afacddc36eed6553ad9a8c
      secured-paths: /api/orders/**,/api/cart/**,/api/payments/**,/api/reviews/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics,loggers
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: INFO
    com.cs308.gateway: DEBUG
