server:
  port: ${PRODUCT_SERVICE_PORT:9001}

spring:
  application:
    name: product-service

  datasource:
    url: jdbc:postgresql://cs308-postgres.postgres.database.azure.com:5432/postgres?sslmode=require
    username: cs308user
    password: Sv9Und7nkd91
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 5     
      minimum-idle: 2
      idle-timeout: 30000      
      max-lifetime: 600000     
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      continue-on-error: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

# Azure Blob Storage configuration
azure:
  storage:
    connection-string: ${AZURE_STORAGE_CONNECTION_STRING:DefaultEndpointsProtocol=https;AccountName=cs308blob;AccountKey=YOUR_KEY_HERE;EndpointSuffix=core.windows.net}
    container-name: ${AZURE_STORAGE_CONTAINER:container}